:root {
  --some-white: rgb(250, 249, 249);
  --bg-blue: #16285d;
  --chat: rgb(212, 211, 211);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.stream-container {
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stream-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}

.stream-grid-cover {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.presentation {
  width: 600px;
  height: 600px;
  border-radius: 8px;
  background-color: black;
  box-shadow: 0 2px 30px var(--box);
  object-fit: cover;
  margin: 16px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.stream-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 16px;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 16px;
}

.stream-grid::-webkit-scrollbar {
  width: 10px;
  background: var(--dark-grey);
}

.stream-grid::-webkit-scrollbar-thumb {
  background: var(--chat);
}

.video-stream-container {
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 30px var(--box);
  border-radius: 8px;
  display: block;
  position: relative;
  justify-self: center;
}

.video-stream-container video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: black;
  object-fit: cover;
}

.video-stream-container label {
  position: absolute;
  bottom: 4px;
  left: 8px;
  font-size: 16px;
  font-weight: bold;
  color: var(--chat);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stream-right {
  background-color: var(--some-white);
  box-shadow: 0 1px 5px var(--dark-grey);
  padding: 8px;
  width: 40%;
  height: 100%;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
}

.stream-right-top {
  width: 100%;
  height: 10vh;
}

.stream-right-top .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stream-right-top label {
  margin: 8px;
  font-size: 1.1em;
  font-weight: bold;
}

.stream-right-top .close-chat {
  width: 24px;
  height: 24px;
}

.stream-right-top .close-chat:hover,
.btm-send:hover {
  opacity: 0.6;
  cursor: pointer;
}

.stream-right-top hr {
  margin: 8px;
}

.stream-right-mid {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.msg-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
  justify-content: start;
  align-items: start;
}

.msg-container li {
  margin-bottom: 20px;
}

.msg-top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 2px;
}

.msg-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.msg-bottom img {
  width: 48px;
  height: 48px;
  margin-top: 12px;
  border-radius: 8px;
  align-self: flex-start;
  object-fit: cover;
}

.stream-right-bottom {
  width: 100%;
  height: 15vh;
}

.btm-col {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.btm-col-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
}

.btm-col-top .lb-see {
  background-color: var(--bg-blue);
  border-radius: 8px;
  padding: 4px 8px;
  color: white;
}

.btm-row {
  display: flex;
  flex-direction: row;
  background: var(--chat);
  border-radius: 35px;
  padding: 4px;
  margin: 4px 32px;
  justify-content: center;
  align-items: center;
}

.btm-row input {
  width: 90%;
  border: none;
  color: black;
  outline: none;
  padding: 8px;
  font-size: 1.1em;
  background: none;
}

.btm-send {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.stream-hide {
  width: 0%;
}

.stream-full {
  width: 70%;
}

.stream-show {
  width: 100%;
}

.bottom-nav {
  width: 100%;
  height: 13vh;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 30px var(--box);
}

.bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bottom-container > div:nth-child(2) {
  margin-right: 64px;
}

.bottom-container > div:nth-last-child(2) {
  margin-left: 64px;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  margin: 0 4px;
  font-size: 8px;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.nav-btn label {
  text-align: center;
}

.nav-icon {
  width: 42px;
  height: 42px;
  background-color: var(--bg-blue);
  border-radius: 50%;
  padding: 10px;
}

.nav-leave-icon {
  width: 42px;
  height: 42px;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 10px;
}

.mem-cover {
  width: 38px;
  height: 38px;
  background-color: var(--bg-blue);
  border-radius: 50%;
  padding: 4px;
  gap: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mem-cover label {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  text-align: center;
  font-weight: bold;
}

.mem-icon {
  width: 16px;
  height: 16px;
}

.nav-icon:hover,
.nav-leave-icon:hover {
  opacity: 0.6;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 1057px) {
  .stream-container {
    height: 82vh;
  }

  .bottom-nav {
    height: 18vh;
    width: 100vw;
  }

  .bottom-container {
    gap: 4px;
    align-items: start;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .bottom-container > div:nth-child(2) {
    margin-right: 24px;
  }

  .bottom-container > div:nth-last-child(2) {
    margin-left: 24px;
  }

  .nav-icon,
  .mem-cover,
  .nav-leave-icon {
    width: 32px;
    height: 32px;
  }

  .nav-btn {
    font-size: 4px;
  }

  .nav-icon {
    padding: 8px;
  }

  .mem-cover label {
    font-size: 0.2em;
  }
}

@media (max-width: 954px) {
  .stream-grid-cover {
    flex-direction: column;
  }

  .presentation {
    width: 93%;
  }

  .stream-grid {
    gap: 4px;
  }

  .video-stream-container {
    width: 250px;
    height: 250px;
  }

  .video-stream-container label {
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .bottom-container {
    padding-left: 100%;
  }
}
